html{
    height: 100%;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #FAF8ED;
    margin: 0 auto;
}


.buttonShow{
    border: none;
    cursor: pointer;
    width: 40px;
    height: 35px;
}

.containerButtonShow{
    padding: 10px;
}

.containerPrincipal{
    margin: 0 auto;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 50px;
    border-radius: 20px;
    flex-direction: column;
    height: 100%;
}

.options{
    height: 50px;
    width: 100%;
    width: 250px;
    display: flex;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid black;
    text-align: center;
    align-items: center;
}


.options:hover{
    background: rgb(250,217,97);
    background: linear-gradient(90deg, rgba(250,217,97,1) 0%, rgba(255,179,0,1) 100%);
}

.iconOptions{
    height: 30px;
    width: 30px;
    padding: 2px;
}


.containerStart{
    width: 70%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 1em gray;

}

a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    padding-left: 5px;
    width: 100%;
}

@media(max-width: 1300px){
    .containerStart{
        flex-direction: column;
    }
}


.formPlans{
    margin: 0 auto;
    height: 100%;
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 1em gray;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
}
.containerForm{
    width: 80%;
    justify-content: center;
    padding: 20px;
}

.formPlans .containerPlano{
    max-width: 100%;
    width: 350px;
    max-height: 70%;
    height: 550px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


.containerPlano h1{
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(255,179,0,1);
    text-align: center;
}


.containerPlano ul, li{
    list-style-type: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
}

.obterPlano{
    align-items: center;
    display: flex;
    justify-content: center;
    max-height: 100%;
    right: 0;
    left: 0;

    
}

.obterPlano button{
    width: 60%;
    height: 40px;
    background-color: #FAF8ED;
    border: 1px solid black;
    cursor: pointer;
    font-weight: bold;
}

.obterPlano button:hover{
    background: rgb(250,217,97);
    background: linear-gradient(90deg, rgba(250,217,97,1) 0%, rgba(255,179,0,1) 100%);
}

.valor{
    text-align: center;
    width: 100%;
}

.valor h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
}

.beneficios{
    width: 100%;
    max-height: 100%;
    display: flex;
}

hr{
    width: 70%;
}


@media(max-width: 825px){
    .formPlans{
        flex-direction: column;
    }
}


@media(max-width: 1000px){
    .containerStart{
        display: none;
    }

}

@media(max-width: 845px){
    .containerPrincipal{
        flex-direction: column;
        align-items: center;
    }
    .container{
        width: 100%;
    }
}

