html{
    height: 100%;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #FAF8ED;
}
.logo{
    height: 100%;
    max-width: 100%;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.imageLogo{
    width: 150px;
    height: 150px;
    border-radius: 20px;
}

.containerPrincipal{
    margin: 0 auto;
    max-width: 100%;
    align-items: flex-start;
    justify-content: center;
    display: flex;
    gap: 50px;
    border-radius: 20px;
    flex-direction: row;
    height: 100%;
}

.options{
    height: 50px;
    width: 200px;
    display: flex;
    cursor: pointer;
    border-radius: 20px;
    background: rgb(250,217,97);
    background: linear-gradient(90deg, rgba(250,217,97,1) 0%, rgba(255,179,0,1) 100%);
    justify-content: center;
    align-items: center;
    
}

.iconOptions{
    height: 30px;
    width: 30px;
    padding: 2px;
}
.containerStart{
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 1em gray;
}

a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    padding-left: 5px;
}


.registration{
    width: 100%;
    justify-content: center;
    padding: 20px;
}

.formRegister{
    margin: 0 auto;
    height: 500px;
    max-width: 80%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 1em gray;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.formRegister label{
    font-weight: bold;
}

input{
    width: 100%;
    border: transparent;
    outline: transparent;
}


h1{
    font-size: 20px;
    font-weight: bold;
}
.containerInput{
    background-color: white;
    width: 50%;
    height: 37px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    border-bottom: 2px solid black;
    display: block;
}

.containerCPFplan{
    width: 50%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.containerCPF{
    width: 50%;
}

.containerPlan{
    width: 50%;
}

.containerCPF input{
    border-bottom: 2px solid black;
}

.containerNameEmail{
    width: 50%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.ContainerStreetNumber{
    width: 50%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.containerButton{
    width: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    
}

.buttonRegister{
    width: 100%;
    height: 40px;
    background: rgb(250,217,97);
    background: linear-gradient(90deg, rgba(250,217,97,1) 0%, rgba(255,179,0,1) 100%);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.buttonShow{
    border: none;
    cursor: pointer;
    width: 40px;
    height: 35px;
}

.containerButtonShow{
    padding: 10px;
}

.optionsRegister{
    display: none;
}

.optionsRegister{
    background: rgb(250,217,97);
    background: linear-gradient(90deg, rgba(250,217,97,1) 0%, rgba(255,179,0,1) 100%);
    width: 50%;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}

.optionsRegister a{
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


.optionsRegister a:hover{
    background-color: yellow;
}

.registerStyle{
    font-size: 20px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
}
